%%-*- mode: erlang -*-

{erl_opts, [debug_info]}.

{deps, [
    {hackney, {git, "git://github.com/benoitc/hackney.git", {tag, "1.15.1"}}},
    {jsx, {git, "git://github.com/talentdeficit/jsx.git", {tag, "2.9.0"}}}
]}.


{profiles, [
    {docs, [
        {deps, [
            {lager, {git, "git://github.com/uwiger/edown.git", {tag, "0.8.1"}}}
        ]},
        {edoc_opts, [
            {doclet, edown_doclet},
            {packages, false},
            {subpackages, true},
            {top_level_readme,
            {"./README.md", "http://github.com/benoitc/couchbeam"}}
        ]}
    ]},
    {test, [
        {cover_enabled, true},
        {eunit_opts, [verbose, no_tty, {report, {unite_compact, []}}]},
        {deps, [
            {unite, {git, "git://github.com/eproxus/unite.git", {tag, "0.3.1"}}},
            {oauth, {git, "git://github.com/zotonic/erlang-oauth.git", {tag, "v1.6.0"}}}
        ]}
    ]}
]}.
